{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
      <link rel="stylesheet" href="{% static 'style/category.css' %}">
    <meta charset="UTF-8">
    <title>Товары категории {{ category.name }}</title>
</head>
<body>

    <h1>Товары категории "{{ category.name }}"</h1>

    {% if products %}
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.dsc }}</p>
                    <p>Цена: {{ product.price }} руб.</p>
                    <img src="{{product.image.url}}" alt="{{ product.name }}">
                    <!-- Добавь ссылку "Подробнее" или другие элементы управления здесь -->
                    <a href="{% url 'products:product_detail' product.id %}">Подробнее</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>В этой категории пока нет товаров.</p>
    {% endif %}

</body>

</html>
