{% load static %}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} - ТехноРай</title>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <h1>ТехноРай</h1>
            <p>Ваш проводник в мир технологий!</p>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="{% url 'products:index' %}">Главная</a></li>
                <li><a href="{% url 'products:catalog' %}">Каталог</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>

            </ul>
        </div>
    </nav>


    <main>
        <section class="product-detail">
            <div class="container">
                <h2>{{ product.name }}</h2>

                <div class="product-image">
                    <img src="{{product.image.url}}" alt="{{ product.name }}">
                </div>

                <div class="product-description">
                    <p>{{ product.dsc }}</p>
                    <p>Цена: {{ product.price }} руб.</p>

                    <!-- Добавь кнопку "Добавить в корзину" или другие элементы управления здесь -->
                    <button class="button">Добавить в корзину</button>
                </div>

                <a href="{% url 'products:catalog' %}" class="button">Вернуться в каталог</a>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 ТехноРай. Все права защищены.</p>
        </div>
    </footer>

</body>
</html>
